version: "3.8"

services:
  postgres:
    image: bitnami/postgresql:latest
    container_name: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      - POSTGRESQL_USERNAME=admin
      - POSTGRESQL_PASSWORD=admin
      - POSTGRESQL_DATABASE=root
    volumes:
      - postgres_data:/bitnami/postgresql

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: unless-stopped
    ports:
      - "9001:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
      - PGADMIN_CONFIG_SERVER_MODE=False
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres

  pgadmin-init:
    image: curlimages/curl:latest
    restart: "no"
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/data
    command: ["sh","-c","mkdir -p /data/pgadmin4 && curl -fsSL https://raw.githubusercontent.com/kalpak44/homelab-portainer/main/pgadmin/servers.json -o /data/pgadmin4/servers.json && curl -fsSL https://raw.githubusercontent.com/kalpak44/homelab-portainer/main/pgadmin/pgpass -o /data/pgpass && chmod 600 /data/pgpass"]

volumes:
  postgres_data:
  pgadmin_data:
